{% if landscape %}
\newgeometry{margin={{ margin*10 }}mm, bottom={{ margin*10-5 }}mm}
\begin{landscape}
{% else %}
\newgeometry{margin={{ margin*10 }}mm,left={{ margin*10-5 }}mm}
{% endif %}
\thispagestyle{empty}
\begin{tikzpicture}[font=\sffamily,x=1cm,y=1cm]
\input{ground_chart.tikz}
\end{tikzpicture}
{% if landscape %}
    \end{landscape}
{% endif %}
\restoregeometry
