% FlightGear logo
\node[anchor=south east] at ({{ map_width }}cm, {{ map_height + 0.3 }}cm) %
  {\includegraphics[width=4cm]{../../../fgfs_logo.png}};

% Date of generation
\node[anchor=south east] at ({{ map_width }}cm,{{ map_height }}cm)
  {\scriptsize \textsc{ {{ date }}}};

% Copyright
\node[anchor=north east] at ({{ map_width }}, -1mm)
  {\textsc{\scriptsize \copyright copyright \the\year\ Ruben De Smet (rubdos)}};

% Notices
\node[anchor=north west] at (0, -1mm)
  {\textsc{\scriptsize Runway width is not to scale.\\ Not for real world use.}};

% ICAO
\node[anchor=south west] at (0, {{ map_height + 0.1 }}cm)
  {\Large \textbf{ {{ icao }} }};

% Gray box around map
\filldraw[fill=blue!5!white,draw=gray] (0, 0) rectangle ({{ map_width }}, {{ map_height }});

% map with ticks
{% for x in drange(0, map_width, scaled_length*scale_factor) %}
\draw[color=gray] ({{x}}cm, 0) -- ({{x}}cm, {{ tick_size }}cm);
\draw[color=gray] ({{x}}cm, {{map_height}}cm) -- ({{x}}, {{ map_height - tick_size }}cm);
{% endfor %}

{% for y in drange(0, map_height, scaled_length*scale_factor) %}
\draw[color=gray] (0,{{y}}cm) -- ({{tick_size}}cm,{{y}}cm);
\draw[color=gray] ({{map_width}},{{y}}cm) -- ({{map_width - tick_size}}cm,{{y}}cm);
{% endfor %}

% Draw scale
\draw[shift={({{map_width - max_scale}}cm, 5mm)}]
  node[below] {\scriptsize 0m};

{% for tick in range(1, 5) %}
\draw[shift={({{map_width-max_scale}}cm, 5mm)}] (0, 1mm) -- (0,0) --({{scaled_length*tick}}cm,0)
  node[below] {\scriptsize {{length*tick}}\,m}
  -- ({{scaled_length*tick}}, 1mm);
{% endfor %}

% Draw taxiways
%for arc in self.arc:
%    n0 = self.to_tikz_coord(arc['n0'])
%    n1 = self.to_tikz_coord(arc['n1'])
%    if (n0[0] > self.map_width
%            or n0[1] > self.map_height
%            or n1[0] > self.map_width
%            or n1[1] > self.map_height):
%        continue
%    tikz.write("\\draw[line width=0.2cm,color=gray] "
%               "("+str(n0[0])+"cm,"+str(n0[1])+"cm) -- (" +
%               str(n1[0])+"cm,"+str(n1[1])+"cm);\n"
%               )
% Draw parkings
%if self.groundnet != None:
%    for parking in self.groundnet.find("parkingList").findall("Parking"):
%        x, y = self.to_tikz_coord((degtofloat(parking.attrib["lon"]),
%                                   degtofloat(parking.attrib["lat"])))
%        size = str(
%            0.4*float(parking.attrib["radius"]) * scaled_length/length)
%        color = "red!50!black"
%        if parking.attrib["type"] == "gate":
%            color = "red!20!black"
%        tikz.write("\\fill[color="+color+"] ("+str(x) +
%                   ","+str(y)+") circle("+size+"cm);\n")

% Draw runways
{% for rwy in runways %}
    {% set coord0 = to_tikz_coord(rwy.coords[0]) %}
    {% set coord1 = to_tikz_coord(rwy.coords[1]) %}
    {% set nodecoord0 = [coord0[0] - rwy.d*cos(rwy.theta), coord0[1] - rwy.d*sin(rwy.theta)] %}
    {% set nodecoord1 = [coord1[0] + rwy.d*cos(rwy.theta), coord1[1] + rwy.d*sin(rwy.theta)] %}
    % {{ rwy }}
    \draw[line width=0.3cm]
      node[fill=white,draw,thick,rounded corners=3pt,rotate={{ rwy.h }}]
      at ({{nodecoord0[0]}},{{nodecoord0[1]}}) { {{rwy.rwys[0]}} }
      ({{coord0[0]}}, {{coord0[1]}})
      --
      ({{coord1[0]}}, {{coord1[1]}})
      node[fill=white,draw,thick,rounded corners=3pt,rotate={{ rwy.h }}]
      at ({{nodecoord1[0]}},{{nodecoord1[1]}}) { {{rwy.rwys[1]}} };
{% endfor %}

% Draw an arrow to the twrs
{% for tower in towers %}
{% set coords = to_tikz_coord(tower.coords)  %}
% {{ tower }}
\node[draw,thick,rounded corners=3pt,fill=blue]
  at({{coords[0]}},{{coords[1]}})
  {\textcolor{white}{TWR}};
{% endfor %}
